:root {
  --coolgray-60: rgba(105, 112, 119, 1);
  --whitebutton: rgba(255, 255, 255, 1);
  --primary-600: rgba(49, 157, 255, 1);
  --grey-600: rgba(125, 143, 169, 1);
  --primary-700: rgba(0, 119, 228, 1);
  --grey-100: rgba(238, 240, 244, 1);
  --grey-200: rgba(221, 225, 232, 1);
  --grey-400: rgba(186, 196, 209, 1);
  --inputbackground: rgba(242, 246, 250, 1);
  --grey-900: rgba(29, 35, 44, 1);
  --grey-800: rgba(59, 71, 88, 1);
  --grey-700: rgba(88, 106, 132, 1);
  --white: rgba(255, 255, 255, 1);
  --success-600: rgba(13, 166, 120, 1);
  --success-500: rgba(16, 208, 150, 1);
  --danger-700: rgba(228, 0, 63, 1);
  --warning-600: rgba(255, 170, 4, 1);
  --info-600: rgba(18, 145, 153, 1);
  --danger-600: rgba(255, 49, 106, 1);
  --warning-700: rgba(194, 129, 0, 1);
  --info-700: rgba(14, 109, 115, 1);
  --primary-300: rgba(177, 218, 255, 1);
  --success-100: rgba(202, 251, 236, 1);
  --danger-300: rgba(255, 177, 199, 1);
  --warning-100: rgba(255, 242, 218, 1);
  --info-100: rgba(202, 246, 249, 1);
  --coolgray-30: rgba(193, 199, 205, 1);
  --grey-300: rgba(203, 211, 221, 1);
  --warning-200: rgba(255, 230, 181, 1);
  --heading-4-font-family: "Roboto-Bold", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 24px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 110.00000238418579%;
  --heading-4-font-style: normal;
  --body-XS-font-family: "Roboto-Regular", Helvetica;
  --body-XS-font-weight: 400;
  --body-XS-font-size: 12px;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 139.9999976158142%;
  --body-XS-font-style: normal;
  --roboto-bold-24px-font-family: "Roboto-Bold", Helvetica;
  --roboto-bold-24px-font-weight: 700;
  --roboto-bold-24px-font-size: 24px;
  --roboto-bold-24px-letter-spacing: 0px;
  --roboto-bold-24px-line-height: normal;
  --roboto-bold-24px-font-style: normal;
  --roboto-regular-14px-font-family: "Roboto-Regular", Helvetica;
  --roboto-regular-14px-font-weight: 400;
  --roboto-regular-14px-font-size: 14px;
  --roboto-regular-14px-letter-spacing: 0px;
  --roboto-regular-14px-line-height: normal;
  --roboto-regular-14px-font-style: normal;
  --roboto-medium-12px-font-family: "Roboto-Medium", Helvetica;
  --roboto-medium-12px-font-weight: 500;
  --roboto-medium-12px-font-size: 12px;
  --roboto-medium-12px-letter-spacing: 0px;
  --roboto-medium-12px-line-height: normal;
  --roboto-medium-12px-font-style: normal;
  --roboto-medium-16px-font-family: "Roboto-Medium", Helvetica;
  --roboto-medium-16px-font-weight: 500;
  --roboto-medium-16px-font-size: 16px;
  --roboto-medium-16px-letter-spacing: 0px;
  --roboto-medium-16px-line-height: normal;
  --roboto-medium-16px-font-style: normal;
  --roboto-bold-14px-font-family: "Roboto-Bold", Helvetica;
  --roboto-bold-14px-font-weight: 700;
  --roboto-bold-14px-font-size: 14px;
  --roboto-bold-14px-letter-spacing: 0px;
  --roboto-bold-14px-line-height: normal;
  --roboto-bold-14px-font-style: normal;
  --roboto-bold-36px-font-family: "Roboto-Bold", Helvetica;
  --roboto-bold-36px-font-weight: 700;
  --roboto-bold-36px-font-size: 36px;
  --roboto-bold-36px-letter-spacing: 0px;
  --roboto-bold-36px-line-height: normal;
  --roboto-bold-36px-font-style: normal;
  --heading-6-font-family: "Roboto-Bold", Helvetica;
  --heading-6-font-weight: 700;
  --heading-6-font-size: 18px;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 110.00000238418579%;
  --heading-6-font-style: normal;
  --body-l-font-family: "Roboto-Regular", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 18px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 139.9999976158142%;
  --body-l-font-style: normal;
  --shadow: 0px 4px 20px 0px rgba(7, 6, 18, 0.1);
}
