.a-sign-in-dark {
  background-color: #1d232c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.a-sign-in-dark .div {
  background-color: var(--grey-900);
  width: 1920px;
  height: 1080px;
  position: relative;
}

.a-sign-in-dark .switch {
  position: absolute;
  width: 44px;
  height: 24px;
  top: 48px;
  left: 1827px;
  background-color: var(--grey-600);
  border-radius: 12px;
}

.a-sign-in-dark .overlap-group {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 22px;
  background-color: var(--grey-800);
  border-radius: 10px;
}

.a-sign-in-dark .icons {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
}

.a-sign-in-dark .img {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
}

.a-sign-in-dark .signin {
  position: absolute;
  width: 727px;
  height: 768px;
  top: 117px;
  left: 233px;
  object-fit: cover;
}

.a-sign-in-dark .logo-container {
  display: flex;
  flex-direction: column;
  width: 244px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 53px;
  left: 91px;
}

.a-sign-in-dark .logo {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.a-sign-in-dark .text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.a-sign-in-dark .webby-frames {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-4-font-family);
  font-weight: var(--heading-4-font-weight);
  color: var(--coolgray-60);
  font-size: var(--heading-4-font-size);
  letter-spacing: var(--heading-4-letter-spacing);
  line-height: var(--heading-4-line-height);
  white-space: nowrap;
  font-style: var(--heading-4-font-style);
}

.a-sign-in-dark .for-figma {
  position: relative;
  width: fit-content;
  margin-top: -4px;
  font-family: var(--body-XS-font-family);
  font-weight: var(--body-XS-font-weight);
  color: var(--coolgray-60);
  font-size: var(--body-XS-font-size);
  letter-spacing: var(--body-XS-letter-spacing);
  line-height: var(--body-XS-line-height);
  white-space: nowrap;
  font-style: var(--body-XS-font-style);
}

.a-sign-in-dark .sign-in {
  display: flex;
  flex-direction: column;
  width: 484px;
  height: 639px;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 24px;
  position: fixed;
  top: 182px;
  left: 1174px;
  background-color: var(--grey-900);
  border-radius: 12px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000080;
}

.a-sign-in-dark .authentication-title {
  position: relative;
  width: 75px;
  height: 28px;
}

.a-sign-in-dark .text-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--roboto-bold-24px-font-family);
  font-weight: var(--roboto-bold-24px-font-weight);
  color: #eef0f4;
  font-size: var(--roboto-bold-24px-font-size);
  letter-spacing: var(--roboto-bold-24px-letter-spacing);
  line-height: var(--roboto-bold-24px-line-height);
  white-space: nowrap;
  font-style: var(--roboto-bold-24px-font-style);
}

.a-sign-in-dark .frame {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.a-sign-in-dark .sign-with-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--grey-900);
  border-radius: 6px;
  border: 1px solid;
  border-color: var(--grey-600);
}

.a-sign-in-dark .social-media {
  position: relative;
  width: 40px;
  height: 40px;
}

.a-sign-in-dark .social-media-login {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
}

.a-sign-in-dark .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--roboto-regular-14px-font-family);
  font-weight: var(--roboto-regular-14px-font-weight);
  color: #eef0f4;
  font-size: var(--roboto-regular-14px-font-size);
  letter-spacing: var(--roboto-regular-14px-letter-spacing);
  line-height: var(--roboto-regular-14px-line-height);
  white-space: nowrap;
  font-style: var(--roboto-regular-14px-font-style);
}

.a-sign-in-dark .sign-in-inputs-and {
  align-items: center;
  gap: 20px;
  padding: 12px 0px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--grey-900);
}

.a-sign-in-dark .rectangle {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 1px;
  background-color: #eef0f4;
}

.a-sign-in-dark .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--roboto-regular-14px-font-family);
  font-weight: var(--roboto-regular-14px-font-weight);
  color: var(--grey-200);
  font-size: var(--roboto-regular-14px-font-size);
  letter-spacing: var(--roboto-regular-14px-letter-spacing);
  line-height: var(--roboto-regular-14px-line-height);
  white-space: nowrap;
  font-style: var(--roboto-regular-14px-font-style);
}

.a-sign-in-dark .sign-in-inputs-and-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.a-sign-in-dark .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--roboto-medium-12px-font-family);
  font-weight: var(--roboto-medium-12px-font-weight);
  color: #eef0f4;
  font-size: var(--roboto-medium-12px-font-size);
  letter-spacing: var(--roboto-medium-12px-letter-spacing);
  line-height: var(--roboto-medium-12px-line-height);
  white-space: nowrap;
  font-style: var(--roboto-medium-12px-font-style);
}

.a-sign-in-dark .inputs {
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--grey-800);
  border-radius: 6px;
}

.a-sign-in-dark .type-something {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--grey-400);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.a-sign-in-dark .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.a-sign-in-dark .inputs-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--grey-800);
  border-radius: 6px;
}

.a-sign-in-dark .type-something-2 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--grey-400);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.a-sign-in-dark .icons-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.a-sign-in-dark .sign-in-inputs-and-3 {
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--grey-900);
}

.a-sign-in-dark .checkand-radio {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.a-sign-in-dark .check-box-outline {
  position: relative;
  width: 24px;
  height: 24px;
}

.a-sign-in-dark .forgot-pass {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.a-sign-in-dark .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--roboto-regular-14px-font-family);
  font-weight: var(--roboto-regular-14px-font-weight);
  color: #1d232c;
  font-size: var(--roboto-regular-14px-font-size);
  letter-spacing: var(--roboto-regular-14px-letter-spacing);
  line-height: var(--roboto-regular-14px-line-height);
  white-space: nowrap;
  font-style: var(--roboto-regular-14px-font-style);
}

.a-sign-in-dark .large-buttons-and {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.a-sign-in-dark .button-default {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--primary-700);
  border-radius: 6px;
}

.a-sign-in-dark .primary {
  position: relative;
  width: fit-content;
  font-family: var(--roboto-medium-16px-font-family);
  font-weight: var(--roboto-medium-16px-font-weight);
  color: var(--whitebutton);
  font-size: var(--roboto-medium-16px-font-size);
  letter-spacing: var(--roboto-medium-16px-letter-spacing);
  line-height: var(--roboto-medium-16px-line-height);
  white-space: nowrap;
  font-style: var(--roboto-medium-16px-font-style);
}

.a-sign-in-dark .sign-in-inputs-and-4 {
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px 0px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--grey-900);
}

.a-sign-in-dark .create-new-sign-in {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.a-sign-in-dark .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--roboto-regular-14px-font-family);
  font-weight: var(--roboto-regular-14px-font-weight);
  color: var(--primary-600);
  font-size: var(--roboto-regular-14px-font-size);
  letter-spacing: var(--roboto-regular-14px-letter-spacing);
  line-height: var(--roboto-regular-14px-line-height);
  white-space: nowrap;
  font-style: var(--roboto-regular-14px-font-style);
}
